body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

#todaysWeather {
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0.5rem #757575;
}

.todaysWeather__Print {
    
} 