body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

#todaysWeather {
    width: auto;
    height: auto;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    font-family: monospace;
    color: rgb(48, 50, 83);
}

.todaysWeather__text {
    font-size: 3em;
}

.todaysWeather__img {
    width: 17em;
}
.todaysWeather__number {
    font-size: 4em;
}